body{
    background: url("pictures/picture_fondo.gif") no-repeat center center fixed; 
    background-size: cover; 
}

.title1 {
    display: flex;
    color: aliceblue;
    background-color: rgba(50, 115, 220, 0.3);
    padding: 10px;
    width: 310px;
    height: 50px;
    border-width: 1px;
    justify-content: flex-end;
    align-content: stretch;
    align-items: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 20px;
    border-inline-start-color: rgb(0, 0, 0); 
    box-shadow: 2px 4px 10px 4px rgba(119, 144, 192, 0.808);
} 

#Pets_selection {
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

 .button_select {
    border-radius: 10px;
    font-size: 13px;
    font-family: cursive;
    font-weight: bold;
    color: aliceblue;
    width: 110px;
    height: 25px;
    border-bottom-style: solid;
    background-color: rgb(12, 179, 156, 0.5);
    box-shadow: 2px 4px 10px 4px rgb(141, 209, 226);
    border-inline-start-color: black; 
    writing-mode: horizontal-tb;

    /* Aplicando la animación */
    animation-duration: 1.7s; /* Duración de la animación */
    animation-name: fadeIn; /* Nombre de la animación */
    animation-iteration-count: infinite; /* Repetir la animación infinitamente */
}

/* Definición de la animación */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.button_select:hover {
    animation: none;
}

